{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <!-- Logo on the left, linking to the home page -->
        <!-- <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/council-logo.png' %}" alt="Logo" class="navbar-logo">
        </a> -->
        <a href="{% url 'home' %}" class="logo">Chalkstone Council</a>
        <a href="{% url 'report_issue' %}">Report Issue</a>
        <a href="{% url 'view_issues' %}">View Issues</a>
        <a href="{% url 'login' %}" class="login-link">Login</a>

    </div>
    <h1>Register a New User</h1>
    <form class="form-container" action="register.html" method="post>"
        {% csrf_token %}
        {{form}}
        <button>Submit</button>
    </form>
